<% @user = current_user %>
<% if (@policytypes.count!=0) %>

  <div class="container" >
    <h2 class="form-info">Plans</h2>
    <p class="text-style">All the available plans of listed companies</p>            
    <table class="table table-hover table-responsive">
      <thead class="thead-inverse">
        <tr>
          <th>Company Name</th>
          <th>Policy Type</th>
          <th>Description</th>
          <th>Duration</th>
          <th>Insured Amount</th>
          <th>Premium Amount</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @policytypes.each do |i| %>
          <tr>
            <% @company= Company.find(i.company_id) %>
            <td><%= @company.name%></td>
            <td><%=i.name%></td>
            <td><%=i.description%></td>
            <td><%=i.duration%></td>
            <td><%=i.sum_insured%></td>
            <td><%=i.premium_amt%></td>
            <td> <%= link_to "Buy", new_policy_path(:company_id => i.company_id,:policytype_id => i.id),:class => "btn btn-primary custom_btn_small" %><td>
            <% if @user.admin? %>
              <td><%= link_to "Edit", edit_policytype_path(i), :class => "btn btn-primary custom_btn_small" %></td>
              <td><%= link_to 'Destroy', policytype_path(i),
              method: :delete,
              data: { confirm: 'Are you sure?' } , :class => "btn btn-primary custom_btn_small"%></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="container" >
    <h2> No Plans Available. </h2>
    <p class="text-style">Please come back later.</p><br><br>            
  </div>
<% end %>
