<% @policies= Policy.all %>
<% if @user.admin? %>
<% @pol = @policies %>
<% else %>
<% @pol=Policy.where(:user_id => @user.id) %>
<% end %>
<% if(@pol.count!=0) %>
  <div class="container" >
    <h2>Policies</h2>
    <p class="text-style">This list displays all the available policies bought by user. 
    This list is only for viewing, to buy a policy from a specific company, 
    Please visit <strong>Policy --> Add new policy</strong> </p> <br><br>                 
    <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th>Holders Name</th>
          <th>Company Name</th>
          <th>Policy Type</th>
          <th>Sum Insured</th>
          <th>Premium Amount</th>
          <th>Commission</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @pol.each do |i| %>
          <% @usr=User.find(i.user_id) %>
          <% @company=Company.find(i.company_id) %>
          <% @policytype=Policytype.find(i.policytype_id) %>
          <tr>
            <% @pol_id = i.id %>
            <% @u_id = current_user.id %>
            <td><%= @usr.name %></td>
            <td><%= @company.name %></td>
            <td><%= i.policy_type %></td>
            <td><%= i.sum_insured %></td>
            <td><%= i.premium_amt %></td>
            <td><%= i.commission %></td>
            <td><%= link_to "Policy Details", policies_display_path(:id => i.id),:class => "btn btn-primary" %></td>
            <td><%= link_to "comments", comments_path(:id => i.id),:class => "btn btn-primary" %></td> 
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="container" >
    <h3> Policies </h3>
    <p> No policies to display, 
    Please visit <strong>Policy --> Add new policy</strong></p><br><br>                 
  </div>
<% end %>
