<% @c_id %>
<% @p_id %>
<% @company= Company.find(@c_id) %>
<% @plan = Policytype.find(@p_id) %>

<p id="pol_duration" class="hidden"><%= @plan.duration %></p>
<p id="pol_ins_amt" class="hidden"><%= @plan.sum_insured %></p>
<h1 class="form-info">Add new policy</h1>
<div class="container box-form">
  <%= form_with(model: @policy, url: new_policy_path, local: true) do |f| %>
    <%= render 'shared/policy_errors' %>
    <% @date= Date.today() + @plan.duration.year %>

    <% if @user.admin? %>
      <%= f.label :user_id, "User" %>
      <%= f.collection_select :user_id, User.all, :id, :name, {include_blank: "Select User"} %>
    <% else %>
      <%= f.hidden_field :user_id, :value => @user.id, :class => "form-control", :readonly => true %>
    <% end %>
     
    <%= f.label :policy_type, "Policy Type" %>
    <%= f.text_field :policy_type, :value => @plan.name, :class => "form-control", :readonly => true %>
    <%= f.hidden_field :description, :value => @plan.description, :class => "form-control", :readonly => true %>
    <%= f.label :sum_insured, "Sum Insured" %>
    <%= f.text_field :sum_insured, id: 'sum_ins' , :value => @plan.sum_insured,  min: '1000', step: '15000', max: @plan.sum_insured , :class => "form-control" %>
    <%= f.label :premium_amt, "Premium Amount" %>
    <%= f.text_field :premium_amt, id: 'prem_amt', :class => "form-control", :readonly => true %>
    <%= f.label :commission, "Commission" %>
    <%= f.text_field :commission, id: 'com', :class => "form-control", :readonly => true %>
    <%= f.label :purchase_date, "Purchase Date" %>
    <%= f.text_field :purchase_date, :value => Date.today , :class => "form-control", :readonly => true %>
    <%= f.label :mature_date, "Mature Date" %>
    <%= f.date_field :mature_date, :value => @date , :class => "form-control", :readonly => true %>
    <%= f.hidden_field :company_id, :value => @c_id, :class => "form-control", :readonly => true %>
    <%= f.hidden_field :policytype_id, :value => @p_id, :class => "form-control", :readonly => true %>


    <%= f.label :documents, "Documents (optional)" %>
    <%= f.file_field :documents, multiple: true, :class => "form-control" %>

    <%= f.submit "Create Policy", :class => "btn btn-primary custom_btn_small" %>
  <% end %>
</div>

<script type="text/javascript">
  $( document ).ready(function() {
    v = $('#pol_ins_amt').text();
    dur = $('#pol_duration').text();
    if(dur!=0)
    var total = parseInt(v/dur);
    var com = parseInt(0.2 * total);
    $("#prem_amt").val(total);
    $("#com").val(com)

  });
  $("#sum_ins").change(function(){
    dur = $('#pol_duration').text();
    var price = Number($(this).val());
    if(dur!=0)
    var total = parseInt((price)/dur);
    var com = parseInt(0.2 * total);
    $("#prem_amt").val(total);
    $("#com").val(com)
  });

  function updatePrice(val)
  {
    $("#sum_ins").val(val);
    $("#sum_ins").trigger('change');
  }

</script>